.wrap {
  width : 30%;
  margin: 1.5em 0;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #666969;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #666969;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #666969;
  background: #666969;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* Buttons */

.buttons {
  margin-top: 1.5em;
  margin-left: 2em;
}